* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #8082de;
  color: white;
}

.input-field input[type="email"]:focus,
.input-field input[type="password"]:focus,
.input-field input[type="text"]:focus {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
}

.container {
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#form {
  margin-left: 6rem;
  height: 24rem;
}

form {
  height: 24rem;
}

.row {
  display: flex;
  align-items: center;
}

#textarea {
  align-self: flex-start;
  margin: 0;
  padding: 0;
}

.button-container {
  display: flex;
  height: 12rem;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: white;
  border-radius: 6rem;
  border: none;
  padding: 1rem 1.8rem;
  margin: 0.7rem 0rem;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: opacity, color, transform 0.6s ease 0s;
  box-shadow: 0px 4px 8px rgb(70, 70, 70);
  transform: scale(1);
}

button:hover {
  opacity: 0.95;
  transform: scale(0.9);
  color: #8082de;
}

button:focus {
  background-color: white;
}
a {
  margin-top: 0.2rem;
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: underline;
}

#register-link {
  transform: scale(1);
  transition: transform 0.5s ease 0s;
}

#register-link:hover {
  transform: scale(0.9);
}

.toast-text-styling {
  color: #8082de;
  font-weight: 600;
}

.toast {
  background-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: inset;
  -webkit-box-shadow: 0 0 0 30px #8082de inset !important;
}

.modal {
  height: 30rem !important;
  overflow: hidden;
  border-radius: 3rem;
}

.modal-content {
  height: 25rem;
}
.modal-content form {
  margin-top: 5rem;
  margin-left: 10rem;
  width: 60%;
}

.modal-footer {
  height: 5rem !important;
  padding: 0rem 1rem !important;
}

.primary-color {
  background-color: #8082de !important;
}

.modal-content h4 {
  font-weight: 600;
}

header {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  height: auto;
}

#index-link {
  text-decoration: none;
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 5px;
  cursor: pointer;
}
