* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #8082de;
  font-family: "Manrope", sans-serif;
}

ul li {
  background-color: transparent;
  border: none;
}

nav {
  background-color: #8082de;
  padding: 0rem 1rem;
}
