* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #8082de;
  overflow: hidden;
  color: black;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0rem;
  padding-bottom: 0rem;
  width: 700px;
}

.input-field input[type="text"]:focus {
  border-bottom: 1px solid rgb(0, 0, 0) !important;
  box-shadow: 0 1px 0 0 rgb(0, 0, 0) !important;
}

.input-field textarea:focus {
  border-bottom: 1px solid rgb(0, 0, 0) !important;
  box-shadow: 0 1px 0 0 rgb(0, 0, 0) !important;
}

#form {
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.8);
  padding: 2rem 3rem;
  position: relative;
  /* top: 50%;
  transform: translateY(-50%); */
}

.button-container {
  position: absolute;
  right: 2.5rem;
  bottom: 1.5rem;
}

.file-path-wrapper {
  width: 0px;
  height: 0px;
}

.submit-btn {
  background-color: white;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 2rem;
  box-shadow: 0 3px 10px rgba(92, 99, 105, 0.8);
  cursor: pointer;
  opacity: 1;
  transition: all 0.5s ease;
  font-family: "Manrope", sans-serif;
}

.color {
  width: 109.02px !important;
  height: 54px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.submit-btn:focus {
  background-color: white;
}

.submit-btn:hover {
  opacity: 0.9;
  transform: scale(0.9);
}

.btn span {
  font-size: 1.2rem;
  font-family: "Manrope", sans-serif;
}

.btn {
  height: 54px !important;
  padding: 4px 6px;
  background-color: #8082de;
  transition: all 0.5s ease;
  position: relative;
  z-index: 5;
}

.btn:hover {
  background-color: #7577cf;
}

.input-field {
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.remove-photo {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: #dadada;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transform: rotate(0deg);
  transition: all 0.5s ease;
}

.remove-photo:hover {
  background-color: #b6b5b5;
  transform: rotate(360deg);
}

.toast-text-styling {
  color: #8082de;
  font-weight: 600;
}

.toast {
  background-color: white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: white;
  font-family: "Manrope", sans-serif;
}
